* {
  font-family: Roboto;
}

:root {
  --main_color: #F6F6F6;
  --footer_background_color: #353535;
  --underline_color: #99E2D0;
  --title_font-family: Shrikhand;
  --border: 0.94rem;
}

.main-container {
  width: 100%;
  max-width: 48rem;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  box-sizing: border-box;
}

/***********Header**********/
.logo {
  display: flex;
  align-items: center;
  height: 3.94rem;
}
.logo .logo__size {
  display: flex;
  width: 12.31rem;
  height: 2.25rem;
  padding-left: 5rem;
}
.logo .return__logo {
  display: flex;
  padding-left: 1.25rem;
}

/**********Menu section*********/
.header__img {
  width: 100%;
  height: 17.19rem;
  position: relative;
}

.container__menu {
  width: 100%;
  height: 85.5rem;
  background: var(--main_color);
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  position: absolute;
  top: 36%;
  z-index: 1;
}
.container__menu .presentation__menu {
  display: flex;
  width: 100%;
  height: 1.81rem;
}
.container__menu .presentation__menu .title__menu--presentation {
  font-family: var(--title_font-family);
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2.55rem;
  text-align: left;
  padding: 0rem 1rem 0rem 1.5rem;
}
.container__menu .presentation__menu .logo__menu--presentation {
  width: 1.38rem;
  height: 1.31rem;
  padding: 1.88rem 1.5rem 0rem 2rem;
}
.container__menu .title__card--menu {
  width: 17.19rem;
  height: 1.69rem;
  font-size: 1rem;
  font-weight: 300;
  padding: 2.5rem 0rem 1.38rem 1.5rem;
  margin-top: 0.63rem;
}
.container__menu .title__card--menu .line__title--card {
  display: flex;
  width: 2.5rem;
  padding-bottom: 0.25rem;
  border-bottom: var(--underline_color) solid 0.25rem;
}

.starter__container--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 21.94rem;
  gap: 0.75rem;
}
.starter__container--card .card__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 22.5rem;
  height: 4.5rem;
  padding: 0.94rem 0rem 0rem 0.94rem;
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0rem 0.25rem 0.94rem 0rem rgba(0, 0, 0, 0.1019607843);
}
.starter__container--card .card__menu .title__card {
  font-size: 1.13rem;
  font-weight: 500;
  margin: 0;
}
.starter__container--card .card__menu .subtitle__card {
  display: flex;
  justify-content: space-between;
}
.starter__container--card .card__menu .subtitle__card .description__card {
  font-size: 0.94rem;
  font-weight: 300;
  line-height: 0.94rem;
  margin-top: 0.31rem;
}
.starter__container--card .card__menu .subtitle__card .price__card {
  font-size: 0.94rem;
  font-weight: 300;
  line-height: 0.94rem;
  font-weight: 700;
  padding-right: 1.25rem;
}

.container__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 16.88rem;
  gap: 0.75rem;
}
.container__card .card__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 22.5rem;
  height: 4.5rem;
  padding: 0.94rem 0rem 0rem 0.94rem;
  background-color: white;
  border-radius: var(--border);
  box-shadow: 0rem 0.25rem 0.94rem 0rem rgba(0, 0, 0, 0.1019607843);
}
.container__card .card__menu .title__card {
  font-size: 1.13rem;
  font-weight: 500;
  margin: 0;
}
.container__card .card__menu .subtitle__card {
  display: flex;
  justify-content: space-between;
}
.container__card .card__menu .subtitle__card .description__card {
  font-size: 0.94rem;
  font-weight: 300;
  line-height: 0.94rem;
  margin-top: 0.31rem;
}
.container__card .card__menu .subtitle__card .price__card {
  font-size: 0.94rem;
  font-weight: 300;
  line-height: 0.94rem;
  font-weight: 700;
  padding-right: 1.25rem;
}

p {
  margin-top: 0.31rem;
}

.container__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9.38rem;
}
.container__btn .btn {
  width: 11.63rem;
  height: 3.13rem;
  border-radius: 1.56rem;
  background: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
}
.container__btn .btn .btn__size {
  font-size: 1rem;
  font-weight: 500;
}

/***********Footer**********/
.footer__container {
  position: absolute;
  top: 214%;
  width: 100%;
  height: 11.63rem;
  gap: 1rem;
  background-color: var(--footer_background_color);
  line-height: 1.7rem;
}
.footer__container .footer__logo {
  width: 8.69rem;
  height: 1.69rem;
  padding: 1.5rem 0rem 0rem 1.1rem;
}
.footer__container .footer__link {
  display: flex;
  flex-direction: row;
}
.footer__container .footer__link .footer__link--logo {
  display: flex;
  width: 0.69rem;
  height: 0.81rem;
  padding: 0.4rem 0rem 0rem 1.1rem;
}
.footer__container .footer__link .footer__link--txt {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding-left: 0.63rem;
  margin: 0;
}
.footer__container .footer__container--txt {
  color: white;
  padding-left: 1.1rem;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

@media (min-width: 769px) {
  .main-container {
    width: 100%;
    max-width: 90rem;
    padding: 0rem 3.13rem 0rem 3.13rem;
    box-sizing: border-box;
    margin: 0 auto;
  }
  /***********Header**********/
  .logo {
    display: flex;
    align-items: center;
    height: 3.94rem;
  }
  .logo .logo__size {
    display: flex;
    padding-left: 33rem;
  }
  .header__img {
    height: 23.94rem;
  }
  /**********Menu section*********/
  .container__menu {
    width: 80%;
    height: 91rem;
    top: 52%;
    left: 10%;
    z-index: 1;
  }
  .container__menu .presentation__menu {
    display: flex;
    justify-content: center;
  }
  .container__menu .title__card--menu {
    padding: 2.5rem 0rem 1.38rem 18.6rem;
  }
  .container__menu .title__card--menu .line__title--card {
    display: flex;
    width: 2.5rem;
    padding-bottom: 4px;
    border-bottom: var(--underline_color) solid 4px;
  }
  .starter__container--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 21.94rem;
    gap: 0.75rem;
  }
  .starter__container--card .card__menu {
    width: 39.63rem;
    height: 4.5rem;
  }
  .container__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 19.6rem;
    gap: 0.75rem;
  }
  .container__card .card__menu {
    width: 39.63rem;
    height: 4.5rem;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 7.13rem;
    width: 100%;
    max-width: 90rem;
    top: 239.3%;
  }
  .footer__container .footer__logo {
    position: absolute;
    right: 1%;
    bottom: 24%;
  }
  .footer__container .footer__link {
    padding-top: 3.8rem;
  }
  .footer__container .footer__container--txt {
    padding-top: 3.8rem;
  }
}/*# sourceMappingURL=scss-la note enchantee.css.map */