* {
    font-family: Roboto;
}

:root {
    --main_color: #F6F6F6;
    --footer_background_color: #353535;
    --underline_color:  #99E2D0; 
    --title_font-family: Shrikhand;
    --border: 0.94rem;
}

@media (max-width: 768px) {
    
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3.94rem;
        .logo__size {
            display: flex;
            width: 12.31rem;
            height: 2.25rem;
        }
    }

    .searchbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3.13rem;
        font-size: 1rem;
        gap: 1.06rem;
        background: #EAEAEA;
        border-top: 0.19rem outset #00000040;
        border-bottom: 0.25rem outset #00000040 ;
        .searchbar__logo {
            width: 0.75rem;
            height: 1rem;       
        }
    }

    .presentation {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 17.81rem;
        background-color: var(--main_color);
            .presentation__title {        
                font-size: 1.5rem;
                font-weight: 700;
                margin-top: 2.19rem;
                margin-bottom: 0.63rem;
            }
            .presentation__txt {
                font-size: 1.13rem;
                font-weight: 300;
                margin-top: 0.31rem;
                margin-bottom: 2.19rem;
        }
    }

    .btn {
        height: 3.13rem;
        border-radius: 1.56rem;
        background: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
        color: white;
        .btn__size {
            width: 13.63rem;
            font-size: 1rem;
            font-weight: 500;
        }
    }    


    .functioning {
        width: 23.44rem;
        height: 25rem;
        font-weight: 700;
        font-size: 1.5rem;
        padding-left: 0.94rem;
        .functioning__title {
            padding-top: 2rem;
            margin-top: 0;
        }
    } 

    .functioning-container {
        display: flex;
        flex-direction: column;
        gap: 1.56rem;        
        .functioning__btn {
            width: 20.16rem;
            height: 4.52rem;
            border-radius: 1.25rem;
            background-color: var(--main_color); 
            box-shadow: 0px 4px 15px 0px #00000026;
            border-right-width: 0.06rem;
            border-bottom-width: 0.06rem;
            text-align: left;
            position: relative;
            .functioning__btn--number {
                position: absolute;
                left: -12px;
            }
            .functioning__btn--logo {
                width: 0.81rem;
                height: 1.24rem;
                padding: 0rem 1.25rem 0rem 2.19rem;
            }
            .functioning__btn--txt{
                font-size: 1rem;
                font-weight: 500;
            } 
        }
    
    }

    .restaurant {
        display: flex;
        flex-direction: column;
        height: 76rem;
        background-color: var(--main_color);
        gap: 1.13rem;
        .restaurant__title {
            font-size: 1.5rem;
            font-weight: 700;
            padding: 1.88rem 0rem 0rem 1.10rem;
            margin-top: 0;
        }
    }
    a {
        text-decoration: none;
    }
    .restaurant__card {
        width: 20.16rem;
        height: 15.69rem;
        border-radius: var(--border);
        background-color: white;
        margin-left: 1.10rem;
        object-fit: cover;
        position: relative;
        .restaurant__card--image {
            width: 100%;
            height: 70%;
            border-radius: var(--border);
        }
        .restaurant__card--container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: black;
            .restaurant__card--title {
                display: flex;
                font-size: 1.13rem;
                font-weight: 700;
                margin: 0.63rem 0rem 0.31rem 0.75rem;
            }
            .restaurant__card--logo {
                width: 1.38rem;
                height: 1.31rem;
                padding: 0.80rem 1.80rem 0rem 0rem;
            }
        }
        .restaurant__card--subtitle {
            size: 1.06rem ;
            font-weight: 300;
            margin: 0.31rem 0rem 0.63rem 0.75rem;
            color: black;
        }
        .restaurant__logo--nouveau {
            position: absolute;
            top: 7%;
            left: 70%;
            z-index: 1;
        }
    
    }

    .footer__container {
        height: 11.63rem;
        gap: 1rem;
        background-color: var(--footer_background_color);
        line-height: 1.7rem;
        .footer__logo {
            width: 8.69rem;
            height: 1.69rem;
            padding: 1.5rem 0rem 0rem 1.10rem;
        }
        .footer__link {
            display: flex;
            flex-direction: row;
            .footer__link--logo{
                display: flex;
                width: 0.69rem;
                height: 0.81rem;
                padding: 0.4rem 0rem 0rem 1.10rem;
            }
            .footer__link--txt {
                display: flex;
                font-size: 1rem;
                font-weight: 500;
                color: white;
                padding-left: 0.63rem;
                margin: 0;

            }
        }
        .footer__container--txt {
            color: white;
            padding-left: 1.10rem;
            font-size: 1rem;
            font-weight: 500;
            margin: 0;
        }
    }

    

}