* {
    font-family: Roboto;
}

:root {
    --main_color: #F6F6F6;
    --button_color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    --footer_background_color: #353535;
    --underline_color:  #99E2D0; 
    --title_font-family: Shrikhand; 
}

@media (max-width: 768px) {
    
}