* {
    font-family: Roboto;
}

:root {
    --main_color: #F6F6F6;
    --footer_background_color: #353535;
    --underline_color:  #99E2D0; 
    --title_font-family: Shrikhand;
    --border: 0.94rem;
}

@media (max-width: 768px) {
    
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3.94rem;
        .logo__size {
            display: flex;
            width: 12.31rem;
            height: 2.25rem;
        }
    }

    .searchbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3.13rem;
        font-size: 1rem;
        gap: 1.06rem;
        background: #EAEAEA;
        .searchbar__logo {
            width: 0.75rem;
            height: 1rem;       
        }
    }

    .presentation {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 17.81rem;
        background-color: var(--main_color);
            .presentation__title {        
                font-size: 1.5rem;
                font-weight: 700;
                margin-top: 2.19rem;
                margin-bottom: 0.63rem;       
            }
            .presentation__txt {
                font-size: 1.13rem;
                font-weight: 300;
                margin-top: 0.31rem;
                margin-bottom: 2.19rem;
        }
    }

    .btn {
        height: 3.13rem;
        border-radius: 1.56rem;
        font-size: 1rem;
        font-weight: 500; 
        background: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
        color: white;
        .btn__size {
            width: 13.63rem;
        }
    }    


    
    
 
}